<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--웹폰트-->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap" rel="stylesheet">

<!--home js/css  -->
<link rel="stylesheet" href="/css/home_container.css">
<script type="text/javascript" src="/js/home_container.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- 드래그/드랍 + 한글-->
<script src="/js/plugin/jquery-ui.min.js"></script>
<script src="/js/plugin/hangul.js"></script>

	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<link
			href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap"
			rel="stylesheet">
	<link rel="stylesheet" href="/css/menu.css">
	<script type="text/javascript" src="/js/menu.js"></script>

	<link rel="stylesheet" href="/css/sideMenu.css">
	<script type="text/javascript" src="/js/sideMenu.js"></script>
	<script src="/js/plugin/jquery-ui.min.js"></script>
	<script src="/js/plugin/hangul.js"></script>

<style type="text/css">
*{
	margin:0;
	padding: 0;
	font-family: 'Noto Sans KR';
}

</style>
</head>
<body>
	<header th:insert="menu :: menu"></header>
	<div id='wrap' class='test'>
		<div id='container' class='test'>
			<div id='main_contents'>
				<div id='selected_ing_div'>
					<span id='tt'>이곳에 재료를 끌어다 놓으세요</span>
					<div id='selected_ing_list'></div>
				</div>
				<div id='selected_recipe_view'></div>
			</div>
			<div th:insert="sideMenu :: side_menu"></div>
		</div>
		<footer></footer>
	</div>
</body>
</html>