<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</head>
<body>
<header id='header' th:fragment="menu">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" src="/js/menu.js"></script>
    <style type="text/css">
* {
	margin: 0;
	padding: 0;
}

    </style>
    <div id='menu_bar'>
        <img src="/img/menu_back.jpg">
    </div>
    <div class="home" id='logo_container'>
        <img src="/img/LOGO_white.png">
    </div>
    <div id='log_container'>
        <a href="/recipe/myPage" id='myPage'>MY PAGE</a>
        <a th:if="${#strings.isEmpty(loginID)}" href="/recipe/loginForm" id='login'>LOGIN</a>
        <a th:unless="${#strings.isEmpty(loginID)}" href="/recipe/logout" id='logout'>LOGOUT</a>
    </div>
    <div id='menu_container'>
        <ul id="menu_ul">
            <li class="menu_li" id='list'><img
                    src="/img/menu01.PNG"></li>
            <li class="menu_li" id='review'><img
                    src="/img/menu02.PNG"></li>
            <li class="menu_li" id='selfRecipe'><img
                    src="/img/menu03.PNG"></li>
        </ul>
    </div>
    <div id='info'><!-------------------------------------- 여기에 글씨 바꾸면 됩니다------------------------------- -->
        <h1 id='title'>
            이렇게나 많은<br>레시피가 있습니다.
        </h1>
        <h3 id='sub'>이중에서 고르세요.</h3>
    </div>

    <div id='test'></div>
</header>
</body>
</html>