<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div id='side_menu' th:fragment="side_menu"><link rel="stylesheet" href="/css/sideMenu.css">
	<script type="text/javascript" src="/js/sideMenu.js"></script>
	<script src="/js/plugin/jquery-ui.min.js"></script>
	<script src="/js/plugin/hangul.js"></script>
	<div id='side_btn'>
		<img src="/img/home_open_btn.png">
	</div>
	<div id='search_div'><input type="text"
			name="search" autocomplete="off" placeholder="재료를 검색하세요">
	</div>
	<div id='ingredients_div'>
		<div id='ingredients_menu_div'>
			<img src="/img/home_arrow.png" id='ing_m_left'> <img
				src="/img/home_arrow.png" id='ing_m_right'>
			<ul id='ing_menu'>
					<li class='ing_menu_li' th:each="ty : ${tList}" th:attr="id=${ty}" th:text="${ty}"></li>
			</ul>
		</div>
		<div id='ing_maker'>
				<div class='ingredients' th:each="dto : ${aList}" th:attr="id=${dto.irdntNm}" th:text="${dto.irdntNm}">
					<input type="hidden" th:attr="id=${dto.typeNm}" />
				</div>
		</div>
	</div>
</div>